/* ======================
   LAYOUT
====================== */
html, body {
    overflow-x: hidden;
}

.content-wrapper {
    width: 100%;
    max-width: 1000px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 30px;
    background: #F4F6FB;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-area > *:not(.topbar) {
    width: 100%;
    max-width: 1000px;
    padding: 30px 20px;
}

/* Responsive Layout */
@media (max-width: 768px) {

    .cards {
        flex-direction: column;
    }

    .course-container {
        justify-content: center;
    }
    .content-wrapper {
        padding: 0 15px;
    }
}