.container {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 30px;
    background: #F4F6FB;
}

/* Responsive */
@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .cards {
        flex-direction: column;
    }

    .course-container {
        justify-content: center;
    }

    .topbar input {
        width: 160px;
    }
}