.recent-section {
    margin-top: 50px;
  }
  
  .recent-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
  }
  
  .recent-card {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.recent-card:hover {
  transform: translateY(-5px);
}

.recent-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.recent-card button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  background: linear-gradient(90deg, #7b5cff, #9b7bff);
  color: white;
  cursor: pointer;
}