.sidebar {
    width: 240px;
    min-height: 100vh;
    background: linear-gradient(180deg,#8B5CF6,#6D28D9);
    color: white;
    padding: 25px;
    border-radius: 0 20px 20px 0;
}

.logo {
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a {
    text-decoration: none !important;
    color: white;
  }

.sidebar li {
    margin: 18px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: rgba(255,255,255,0.2);
}