/* ======================
   SIDEBAR
====================== */


.sidebar {
    will-change: transform;
    width: 220px;
    min-height: 100vh;
    background: linear-gradient(180deg,#8B5CF6,#6D28D9);
    color: white;
    padding: 25px;
    border-radius: 0 20px 20px 0;
    transition: transform 0.3s ease;
}

/* Logo */
.logo {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}

/* List */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none !important;
    color: white;
}

.sidebar li {
    margin: 18px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: rgba(255,255,255,0.2);
}

/* ======================
   MOBILE SIDEBAR
====================== */

@media (max-width: 768px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        height: 100vh;
        transform: translateX(-100%);
        z-index: 1000;
        border-radius: 0 20px 20px 0;
    }

    .sidebar.active {
        transform: translateX(0);
    }
}