/* =========================
   SIDEBAR BASE
========================= */

.sidebar {
    width: 240px;
    min-height: 100vh;
    padding: 30px 20px;
    transition: all 0.3s ease;
    background: var(--bg-card);
    border-right: 1px solid var(--border-color);
}

/* Dark mode premium gradient */
body.dark .sidebar {
    background: linear-gradient(
        180deg,
        #0f172a 0%,
        #1e293b 100%
    );
}

/* =========================
   LOGO
========================= */



.logo {
    margin-bottom: 20px;
    margin-left: 50px;
}

.logo h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.3s ease;
}
/* body.dark .logo h2 {
    color: #f1f5f9;
} */

/* Gradient part */
.logo h2 span {
    background: linear-gradient(135deg,#6366F1,#8B5CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hover effect */
.logo h2:hover {
    transform: translateX(4px);
}

/* =========================
   LIST
========================= */

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.sidebar li {
    margin-bottom: 15px;
}

/* =========================
   LINK STYLE
========================= */

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 14px;
    border-radius: 12px;
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Hover */
.sidebar a:hover {
    background: var(--bg-secondary);
    transform: translateX(5px);
}

/* Active link */
.sidebar a.active {
    background: linear-gradient(135deg,#6366F1,#8B5CF6);
    color: white;
    box-shadow: 0 8px 20px rgba(99,102,241,0.3);
}

/* Icon */
.icon {
    font-size: 18px;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
    .logo {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .logo h2 {
        font-size: 20px;
        font-weight: 800;
        margin: 0;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    /* .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        width: 260px;              
        max-width: 80%;            
        height: 100%;
        z-index: 1000;
        border-radius: 0 20px 20px 0;
        box-shadow: 8px 0 30px rgba(0,0,0,0.2);
    }

    .sidebar.active {
        left: 0;
    } */
}