/* =========================
   TOPBAR BASE
========================= */




.topbar {
    height: 70px;
    background: var(--bg-card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.3s ease;
}

/* Dark glow effect */
body.dark .topbar {
    background: linear-gradient(
        90deg,
        rgba(30,41,59,0.9),
        rgba(15,23,42,0.95)
    );
}

/* =========================
   LEFT SECTION
========================= */

.topbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}

/* Menu button */

.menu-btn {
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: none;
    color: var(--text-main);
    transition: 0.2s ease;
}

.menu-btn:hover {
    transform: scale(1.1);
}

/* =========================
   SEARCH BAR
========================= */

.search-container {
    position: relative;
    width: 100%;
    max-width: 420px;
}

.search-container input {
    width: 100%;
    padding: 11px 18px 11px 45px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    outline: none;
    background: var(--bg-secondary);
    color: var(--text-main);
    transition: 0.3s ease;
}

.search-container input:focus {
    border-color: #6366F1;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.2);
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-muted);
    font-size: 16px;
}

/* =========================
   RIGHT SECTION
========================= */

.topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

/* Theme Button */

.theme-btn {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: var(--bg-secondary);
    color: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.theme-btn:hover {
    transform: rotate(20deg) scale(1.05);
    background: #6366F1;
    color: white;
}

/* =========================
   MOBILE
========================= */

@media (max-width:768px){

    .topbar{
    height:55px;              /* topbar height chhoti */
    padding:0 6px;
    }
    
    /* LEFT SIDE */
    
    .topbar-left{
    gap:8px;
    }
    
    
    /* MENU */
    
    .menu-btn{
    font-size:18px;
    display:block;
    }
    
    /* SEARCH */
    
    .search-container{
    width:150px;
    }
    
    .search-container input{
    padding:7px 12px 7px 32px;
    font-size:13px;
    }
    
    .search-icon{
    font-size:13px;
    left:10px;
    }
    
    /* THEME BUTTON */
    
    .theme-btn{
    width:30px;
    height:30px;
    font-size:16px;
    }
    
    /* PROFILE */
    
    
    
    .topbar-right{
    gap:8px;
    margin-right:6px;
    }
    
    }